<main role="main" id="app">
  <div class="container py-3">
    <h1>Applications</h1>
    <p class="mb-0">Create, edit and delete applications from this page. Changes are applied immediately, but you may need to restart Moonlight to see the changes.</p>
  </div>
  <div class="container py-3" v-if="!showEditForm">
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-8">Application</th>
          <th class="col-md-4">Quick actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(app,i) in apps" :key="i">
          <td class="col-md-8 align-middle">{{app.name}}</td>
          <td class="col-md-4">
            <div class="d-flex gap-3">
              <button class="btn btn-sm w-100 btn-outline-primary" title="Edit this application" @click="editApp(i)">Edit</button>
              <button class="btn btn-sm w-100 btn-outline-danger" title="Delete this application" @click="showDeleteForm(i)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      <button type="button" class="btn btn-primary" @click="newApp" v-bind:disabled="isLoading">Create new application</button>
    </p>
  </div>
  <div class="container py-3" v-else>
    <!--name-->
    <div class="mb-3">
      <label for="appName" class="form-label">Application Name</label>
      <input type="text" class="form-control" id="appName" aria-describedby="appNameHelp" v-model="editForm.name">
      <div id="appNameHelp" class="form-text">Application Name, as shown on Moonlight</div>
    </div>
    <!--output-->
    <div class="mb-3">
      <label for="appOutput" class="form-label">Output</label>
      <input type="text" class="form-control  monospace" id="appOutput" aria-describedby="appOutputHelp"
        v-model="editForm.output">
      <div id="appOutputHelp" class="form-text">The file where the output of the command is stored, if it is not
        specified, the output is ignored</div>
    </div>
    <!--prep-cmd-->
    <div class="mb-3 d-flex flex-column">
      <label for="" class="form-label">Command Preparations</label>
      <div class="form-text">A list of commands to be run before/after the application. <br> If any of the
        prep-commands fail, starting the application is aborted</div>
      <table class="table mb-3">
        <thead>
          <tr>
            <th class="col">Do command</th>
            <th class="col">Undo command</th>
            <th class="col-md-3">Quick actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(c,i) in editForm['prep-cmd']">
            <td class="col"><input type="text" class="form-control" placeholder="Do command" v-model="c.do"></td>
            <td class="col"><input type="text" class="form-control" placeholder="Undo command" v-model="c.undo"></td>
            <td class="col-md-3">
              <button class="btn w-100 btn-outline-danger" @click="editForm['prep-cmd'].splice(i,1)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn w-100 btn-success" @click="addPrepCmd">Add commands</button>
    </div>
    <!--detatched-->
    <div class="mb-3">
      <label for="">Detached commands</label>
      <p class="form-text">These commands are executed when the app starts but are immediately forgotten by Sunshine, so when they exit it won't terminate the stream</p>
      <table class="table">
        <thead>
          <tr>
            <th>Command</th>
            <th class="col-md-3">Quick actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(c,i) in editForm.detached">
            <td class="align-middle"><pre class="mb-0">{{c}}</pre></td>
            <td><button class="btn w-100 btn-outline-danger" @click="editForm.detached.splice(i,1)">Delete</button></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" v-model="detachedCmd" placeholder="steam steam://open/bigpicture"></td>
            <td><button class="btn w-100 btn-success" @click="editForm.detached.push(detachedCmd);detachedCmd = '';">Add command</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--command-->
    <div class="mb-3">
      <label for="appCmd" class="form-label">Command</label>
      <input type="text" class="form-control monospace" id="appCmd" aria-describedby="appCmdHelp"
        v-model="editForm.cmd">
      <div id="appCmdHelp" class="form-text">The main application, if it is not specified, a processs is started that
        sleeps indefinitely</div>
    </div>
    <!--buttons-->
    <div class="d-grid gap-2 d-md-block">
      <button @click="showEditForm = false" class="btn btn-secondary">Cancel</button>
      <button class="btn btn-primary" @click="save" v-bind:disabled="isLoading">Save application</button>
    </div>
  </div>
</main>

<script>
  new Vue({
    el: '#app',
    data() {
      return {
        apps: [],
        showEditForm: false,
        isLoading: false,
        editForm: null,
        detachedCmd: '',
      }
    },
    created() {
      this.isLoading = true;
      fetch("/api/apps").then(r => r.json()).then((r) => {
        console.log(r);
        this.apps = r.apps;
        this.isLoading = false;
      })
    },
    methods: {
      newApp() {
        this.editForm = {
          name: '',
          output: '',
          cmd: [],
          index: -1,
          "prep-cmd": [],
          "detached": []
        };
        this.editForm.index = -1;
        this.showEditForm = true;
      },
      editApp(id) {
        this.editForm = JSON.parse(JSON.stringify(this.apps[id]));
        this.$set(this.editForm, "index", id);
        if (this.editForm["prep-cmd"] === undefined) this.$set(this.editForm, "prep-cmd", []);
        if (this.editForm["detached"] === undefined) this.$set(this.editForm, "detached", []);
        this.showEditForm = true;
      },
      showDeleteForm(id) {
        let resp = confirm("Are you sure to delete " + this.apps[id].name + "?");
        if (resp) {
          fetch("/api/apps/" + id, { method: "DELETE" }).then((r) => {
            if (r.status == 200) document.location.reload();
          });
        }
      },
      addPrepCmd() {
        this.editForm['prep-cmd'].push({
          do: '',
          undo: '',
        });
      },
      save() {
        this.isLoading = true;
        fetch("/api/apps", { method: "POST", body: JSON.stringify(this.editForm) }).then((r) => {
          if (r.status == 200) document.location.reload();
          this.isLoading = false;
        });
      }
    }
  })
</script>