<main role="main" id="app">
    <div class="container-parent bg-light">
        <div class="container py-3">
            <h1>Update credentials</h1>
            <p class="mb-0">Update the credentials used to connect to this web interface, including the username and
                password.</p>
        </div>
    </div>
    <div class="container-parent">
        <div class="container py-3">
            <form action="#" @submit.prevent="save">
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert" v-if="error">
                            <b>An error has occured</b>. Here's what the server sent back: {{error}}.
                        </div>
                        <div class="alert alert-success" role="alert" v-if="success">
                            <b>Credentials have been updated</b>, your browser should reload and ask you for the new
                            credentials.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Current credentials</h2>
                        <p>You need to enter your current credentials to change them, you need to enter both the
                            username and password.</p>
                        <div class="mb-3">
                            <label for="currentUsername" class="form-label">Current username</label>
                            <input type="text" class="form-control" id="currentUsername" autocomplete="username"
                                required v-model="passwordData.currentUsername">
                        </div>
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Current password</label>
                            <input type="password" class="form-control" id="currentPassword"
                                autocomplete="current-password" required v-model="passwordData.currentPassword">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>New credentials</h2>
                        <p>Enter the new credentials you want to use, if you just want to change the password you can
                            leave the username field empty.</p>
                        <div class="mb-3">
                            <label for="newUsername" class="form-label">New username</label>
                            <input type="text" class="form-control" id="newUsername" v-model="passwordData.newUsername">
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New password</label>
                            <input type="password" class="form-control" id="newPassword" autocomplete="new-password"
                                required v-model="passwordData.newPassword">
                        </div>
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label">New password (confirm)</label>
                            <input type="password" class="form-control" id="confirmNewPassword"
                                autocomplete="new-password" required v-model="passwordData.confirmNewPassword">
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" id="submitButton" class="btn w-100 btn-primary"
                            v-bind:disabled="isLoading">Update credentials</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<script>
    new Vue({
        el: "#app",
        data() {
            return {
                error: null,
                success: false,
                isLoading: false,
                passwordData: {
                    currentUsername: "",
                    currentPassword: "",
                    newUsername: "",
                    newPassword: "",
                    confirmNewPassword: "",
                },
            };
        },
        methods: {
            save() {
                this.error = null;
                this.isLoading = true;
                fetch("/api/password", {
                    method: "POST",
                    body: JSON.stringify(this.passwordData),
                })
                    .then((r) => {
                        this.isLoading = false;
                        if (r.status == 200) {
                            r.json().then((rj) => {
                                if (rj.status.toString() === "true") {
                                    this.success = true;
                                    setTimeout(() => {
                                        document.location.reload();
                                    }, 5000);
                                } else {
                                    this.error = rj.error;
                                }
                            });
                        } else {
                            this.error = "Internal Server Error";
                        }
                    })
                    .catch((err) => {
                        this.isLoading = false;
                        console.error(err);
                    });
            },
        },
    });
</script>